@using Lead2Change.Domain.Constants;
@using Microsoft.AspNetCore.Identity
@using Lead2Change.Domain.Models
@inject SignInManager<AspNetUsers> SignInManager
@inject UserManager<AspNetUsers> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @StringConstants.BASE_PAGE_TITLE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="\Images\Lead2ChangeIcon.png">
</head>
<body onload="checkerShowHide('conditionalQuestion'); ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #1e202d">
            <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="navbarLogo" src="~/Images/Lead2ChangeLogo.png" /></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        
                        @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole(StringConstants.RoleNameStudent))
                            {
                                <li class="nav-item col-sm-4">
                                    @Html.ActionLink("Student", "Details", "Students", new { studentId = UserManager.GetUserAsync(User).Result.AssociatedId }, new { @class = "nav-link text-dark" })
                                </li>
                                <li class="nav-item col-sm-4">
                                    @Html.ActionLink("Goals", "Index", "Goals", new { studentID = UserManager.GetUserAsync(User).Result.AssociatedId }, new { @class = "nav-link text-dark" })
                                </li>
                                <li class="nav-item col-sm-4">
                                    @Html.ActionLink("Career", "Details", "CareerDeclaration", new { studentId = UserManager.GetUserAsync(User).Result.AssociatedId }, new { @class = "nav-link text-dark" })
                                </li>
                            }
                            @if (User.IsInRole(StringConstants.RoleNameCoach))
                            {
                                <li class="nav-item col-sm-4">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Coaches" asp-action="CoachesStudents">My Students</a>
                                </li>
                                <li class="nav-item col-sm-4">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Interviews" asp-action="Index">Interviews</a>
                                </li>
                                <li class="nav-item col-sm-4">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Questions" asp-action="Index">Questions</a>
                                </li>
                            }
                            @if (User.IsInRole(StringConstants.RoleNameAdmin))
                            {
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Students" asp-action="Index">Active Students</a>
                                </li>
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Students" asp-action="InactiveIndex" >Inactive Students</a>
                                </li>
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Coaches" asp-action="Index">Coaches</a>
                                </li>
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Interviews" asp-action="Index">Interviews</a>
                                </li>
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Questions" asp-action="Index">Questions</a>
                                </li>
                                <li class="nav-item col-sm-2">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admins</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Lead2Change.Web.Ui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/searchbar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
