@model Lead2Change.Domain.ViewModels.InterviewQuestionCreateViewModel
@using Lead2Change.Domain.Models;


@* ViewData["Title"] = "Create";
*@
<div class="row">
    <div class="col-sm-12">
        <h2 class="GoalHeadingFont"><strong>Create an Interview</strong></h2>
    </div>
</div>
<div class="calibri">
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid">
            <div class="form-group col-sm-12 d-none">
                <input asp-for="Id" class="form-control" />
            </div>
            
            <div class="form-group col-sm-12">
                @for (int i = 0; i < Model.QuestionInInterviews.Count; i++)
                {
                    @Html.HiddenFor(model => Model.QuestionInInterviews[i].InterviewId)
                    @Html.HiddenFor(model => Model.QuestionInInterviews[i].QuestionId)
                    @Html.HiddenFor(model => Model.QuestionInInterviews[i].Question.Id)
                    @Html.HiddenFor(model => Model.QuestionInInterviews[i].Question.QuestionString)


                }

            </div>
           
            <div class="form-group col-sm-12">
                <b><label asp-for="InterviewName" class="control-label">Interview Name</label></b>
                <input asp-for="InterviewName" class="form-control" />
                <span asp-validation-for="InterviewName" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12">
                <b><label asp-for="QuestionText" class="control-label">Add a Question</label></b>
                <input asp-for="QuestionText" class="form-control" value="" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" name="submitButton" value="addQuestion" class="btn btn-lg btn-block orangeBtn">Add Question</button>
            </div>
            <br />
            <div class="form-group col-sm-12">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="submit" name="submitButton" value="Create" class="btn btn-lg btn-block orangeBtn"> Create</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Info Type</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Interview Title</b> </td>
                <td>@Model.InterviewName</td>
            </tr>
            <tr>
                <td><b>How many Questions are there? [Testing]</b> </td>
                <td>@Model.QuestionInInterviews.Count</td>
            </tr>
            @if (Model.QuestionInInterviews != null)
            {
                @foreach (QuestionInInterview questionInInterview in Model.QuestionInInterviews)
                {
                    <tr>
                        <td>Question:</td>
                        <td>@questionInInterview.Question.QuestionString</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="col-sm-6 text-center">
        <button class="btn btn-outline-dark btn-lg btn-block" name="Back" onclick="location.href='@Url.Action("Index","Interviews")'">Back To List</button>
    </div>
</div>