@model Lead2Change.Domain.ViewModels.InterviewAndIDViewModel
@*
    ViewData["Title"] = "Index";
*@

<div class="container-fluid">
    @if (Model.StudentId != Guid.Empty)
    {
        <div class="row orangeHeader full-width mb-sm-3">
            <div class="col-sm-12">
                <h1 class="text-center"><strong>@Model.StudentName.ToUpper()'S INTERVIEWS</strong></h1>
            </div>
        </div>
    }
    else
    {
        <div class="row blueHeader full-width mb-sm-3">
            <div class="col-sm-12">
                <h1 class="text-center"><strong>INTERVIEWS</strong></h1>
            </div>
        </div>
    }

    <table class="table table-striped shadow-lg pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.InterviewViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewName)
                </td>
                <td>
                    @if (item.StudentId == Guid.Empty)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href='@Url.Action("Edit", "Interviews", new { id = item.Id })'" />

                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class=" col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Details" onclick="location.href='@Url.Action("Details", "Interviews", new { id = item.Id, studentID = item.StudentId})'" />

                        </div>

                    </div>


                    @if (item.StudentId == Guid.Empty)

                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Delete" onclick="location.href='@Url.Action("Delete", "Interviews", new { id = item.Id })'" />

                            </div>
                        </div>
                    }
                    @if (item.QuestionInInterviews.Count > 0 && item.StudentId == Guid.Empty)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Student Interview" onclick="location.href='@Url.Action("StudentsInInterview", "Interviews", new { Id = item.Id })'" />
                            </div>
                        </div>
                    }
                    else if (item.QuestionInInterviews.Count > 0)
                    {

                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Answer This Interview" onclick="location.href='@Url.Action("AnswerQuestion", "Answer", new {id=item.QuestionInInterviews.FirstOrDefault().InterviewId, studentID=item.StudentId})'" />
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }

    </table>

    @if (Model.StudentId == Guid.Empty)
    {
        <div class="row">
            <div class="col-sm-12 pb-sm-2">
                <input type="button" class="btn btn-primary" value="Create a New Interview" onclick="location.href='@Url.Action("Create", "Interviews")'" />
            </div>
        </div>

    }

</div>