@model Lead2Change.Domain.ViewModels.StudentInterviewViewModel
@* ViewData["Title"] = "Question Select";
*@
<div class="container-fluid">
    @if (Model.StudentAnswer.Count > 0)
    {
        <div class="row">
            <div class="col-sm-12">

                <h2 class="GoalHeadingFont">Student Interviews For @Model.StudentAnswer[0].InterviewName</h2>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">

                <h2 class="GoalHeadingFont">Student Interviews</h2>
            </div>
        </div>
    }
    <table class="table table-striped pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th>
                    Student
                </th>
                <th>
                    Interview Form
                </th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Students.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Students[i].StudentLastName), @Html.DisplayFor(modelItem => Model.Students[i].StudentFirstName)
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Answer" onclick="location.href='@Url.Action("AnswerQuestion", "Answer", new {id=Model.StudentAnswer[i].InterviewId, studentID=Model.StudentAnswer[i].StudentId})'" />

                        </div>
                    </div>
                    @if (Model.StudentAnswer[i].QuestionInInterviews.Count > 0)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="button" class="btn btn-block orangeBtn" value="View Answers" onclick="location.href='@Url.Action("Index", "Answer", new { interviewID = Model.StudentAnswer[i].InterviewId, studentId = Model.StudentAnswer[i].StudentId })'" />

                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<div align="center">
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("Index","Interviews")'">Back To List</button>
</div>