@model Lead2Change.Domain.ViewModels.RegistrationViewModel
@*
    ViewData["Title"] = "Details";
*@
<div class="row orangeHeader full-width mb-sm-3">
    <div class="col-sm-12">
        <h1 class="text-center"><strong>STUDENT DETAILS</strong></h1>
    </div>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Basic Student Information</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#basicStudentInfo" aria-expanded="false" aria-controls="coachInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="basicStudentInfo">
        <li class="list-group-item"><b>First Name:</b> @Model.StudentFirstName</li>
        <li class="list-group-item"><b>Last Name:</b> @Model.StudentLastName</li>
        <li class="list-group-item"><b>Date of Birth:</b> @Convert.ToDateTime(Model.StudentDateOfBirth).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>Age:</b> @Model.Age</li>
        <li class="list-group-item"><b>Cell Phone:</b> @Model.StudentCellPhone</li>
        <li class="list-group-item"><b>Email:</b> @Model.StudentEmail</li>
        <li class="list-group-item"><b>Coach:</b> @Model.CoachName</li>
    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Other Information</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#otherInformation" aria-expanded="false" aria-controls="otherInformation">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="otherInformation">
        <li class="list-group-item"><b>Address:</b> @Model.StudentAddress</li>
        <li class="list-group-item"><b>Apartment Number:</b> @Model.StudentApartmentNumber</li>
        <li class="list-group-item"><b>City: </b>@Model.StudentCity</li>
        <li class="list-group-item"><b>State: </b>@Model.StudentState</li>
        <li class="list-group-item"><b>Zip Code:</b> @Model.StudentZipCode</li>
        <li class="list-group-item"><b>Career Interest:</b> @Model.StudentCareerInterest</li>
    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Parent Info</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#parentInfo" aria-expanded="false" aria-controls="parentInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="parentInfo">
        <li class="list-group-item"><b>First Name:</b>  @Model.ParentFirstName</li>
        <li class="list-group-item"><b>Last Name:</b> @Model.ParentLastName</li>
        <li class="list-group-item"><b>Address:</b> @Model.Address</li>
        <li class="list-group-item"><b>Parent Apartment Number:</b> @Model.ParentApartmentNumber</li>
        <li class="list-group-item"><b>City:</b> @Model.ParentCity</li>
        <li class="list-group-item"><b>State:</b> @Model.ParentState</li>
        <li class="list-group-item"><b>Zip Code:</b> @Model.ParentZipCode</li>
        <li class="list-group-item"><b>Home Phone:</b> @Model.ParentHomePhone</li>
        <li class="list-group-item"><b>Cell Phone:</b> @Model.ParentCellPhone</li>
        <li class="list-group-item"><b>Parent Email:</b> @Model.ParentEmail</li>

    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Guidance Counselor Info</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#counselorInfo" aria-expanded="false" aria-controls="counselorInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="counselorInfo">
        @if (Model.KnowGuidanceCounselor)
        {
            <li class="list-group-item"><b>I know my guidance counselor:</b> Yes</li>
            <li class="list-group-item"><b>Guidance Counselor Name:</b> @Model.GuidanceCounselorName</li>
            <li class="list-group-item"><b>I meet with my guidance counselor:</b> @(Model.MeetWithGuidanceCounselor ? "Yes" : "No")</li>
            @if (Model.MeetWithGuidanceCounselor)
            {
                <li class="list-group-item"><b>How often they meet with their guidance counselor:</b> @Model.HowOftenMeetWithGuidanceCounselor</li>
            }
            <li class="list-group-item"><b>What they have discussed with their guidance counselor:</b> @Model.DiscussWithGuidanceCounselor</li>

        }
        else
        {
            <li class="list-group-item"><b>I know my guidance counselor:</b> No</li>
        }

    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Post-Secondary Plan</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#postSecondaryPlan" aria-expanded="false" aria-controls="postSecondaryPlan">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="postSecondaryPlan">
        <li class="list-group-item"><b>Their plan after high school:</b> @Model.PlanAfterHighSchool</li>
        @switch (Model.PlanAfterHighSchool)
        {
            case "College":
                <li class="list-group-item"><b>I have applied to college:</b> @(Model.CollegeApplicationStatus ? "Yes" : "No")</li>
                <li class="list-group-item"><b>Colleges they have applied to/plan to apply to:</b> @Model.CollegesList</li>
                <li class="list-group-item"><b>I have begun work on my college essay:</b> @(Model.CollegeEssayStatus ? "Yes" : "No")</li>
                <li class="list-group-item"><b>I need help writing my college essay:</b> @(Model.CollegeEssayHelp ? "Yes" : "No")</li>
                <li class="list-group-item"><b>First choice college(s):</b> @Model.FirstChoiceCollege</li>
                <li class="list-group-item"><b>Second choice college(s):</b> @Model.SecondChoiceCollege</li>
                <li class="list-group-item"><b>Third choice college(s):</b> @Model.ThirdChoiceCollege</li>
                break;
            case "Trade School":
                <li class="list-group-item"><b>I have already applied to a trade school:</b> @(Model.TradeSchoolStatus ? "Yes" : "No")</li>
                <li class="list-group-item"><b>Trade schools they have applied/plan to apply to:</b> @Model.TradeSchoolsList</li>
                break;
            case "Armed Forces":
                <li class="list-group-item"><b>I have already applied to the armed forces:</b> @(Model.ArmedForcesStatus ? "Yes" : "No")</li>
                <li class="list-group-item"><b>Branches they have applied to/plan to apply to:</b> @Model.ArmedForcesBranch</li>
                break;
            case "Work":
                <li class="list-group-item"><b>I plan to go directly into the workforce after high school:</b> @(Model.WorkStatus ? "Yes" : "No")</li>
                <li class="list-group-item"><b>Career paths they are interested in pursuing:</b> @Model.CareerPathList</li>
                break;
            case "Other":
            default:
                <li class="list-group-item"><b>Plans for after high school:</b> @Model.OtherPlans</li>
                break;
        }
    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>College Entrance Exam Information</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#examInfo" aria-expanded="false" aria-controls="examInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="examInfo">
        <li class="list-group-item"><b>Date of PACT:</b> @Convert.ToDateTime(Model.PACTTestDate).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>PACT Score:</b> @Model.PACTTestScore</li>
        <li class="list-group-item"><b>Date of PSAT:</b> @Convert.ToDateTime(Model.PSATTestDate).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>PSAT Score:</b> @Model.PSATTestScore</li>
        <li class="list-group-item"><b>Date of SAT:</b> @Convert.ToDateTime(Model.SATTestDate).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>SAT Score:</b> @Model.SATTestScore</li>
        <li class="list-group-item"><b>Date of ACT:</b> @Convert.ToDateTime(Model.ACTTestDate).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>ACT Score:</b> @Model.ACTTestScore</li>
        <li class="list-group-item"><b>I need a prep class:</b> @(Model.PrepClassRequired ? "Yes" : "No")</li>
    </ul>
</div>

<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Financial Aid Information</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#financeInfo" aria-expanded="false" aria-controls="financeInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="financeInfo">
        <li class="list-group-item"><b>I have already completed the financial aid process:</b> @(Model.FinancialAidProcessComplete ? "Yes" : "No")</li>
        <li class="list-group-item"><b>I need assistance filling out my FAFSA/Financial aid forms:</b> @(Model.AssistanceForForms ? "Yes" : "No")</li>
        <li class="list-group-item"><b>Support they need:</b> @Model.SupportNeeded</li>
    </ul>
</div>
<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Admin Details</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#adminInfo" aria-expanded="false" aria-controls="adminInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="adminInfo">
        <li class="list-group-item"><b>Activity Status:</b> @Model.Active</li>
        <li class="list-group-item"><b>Acceptance Status:</b> @((Model.isAccepted) ? "Accepted" : (Model.isDeclined) ? "Declined" : "In Interest Phase")</li>
    </ul>
</div>
<div class="card text-dark bg-light mb-3">
    <div class="card-header">
        <div class="row px-sm-3">
            <h3>Signatures</h3>
            <button class="btn btn-primary ml-auto" type="button" data-toggle="collapse" data-target="#signatureInfo" aria-expanded="false" aria-controls="signatureInfo">
                <img src="~/Images/UpDownIcon.png" class="smallIcon" />
            </button>
        </div>
    </div>
    <ul class="list-group list-group-flush collapse" id="signatureInfo">
        <li class="list-group-item"><b>Student Signature:</b> @Model.StudentSignature</li>
        <li class="list-group-item"><b>Date Signed:</b> @Convert.ToDateTime(Model.StudentSignatureDate).ToString("MM/dd/yyyy")</li>
        <li class="list-group-item"><b>Parent Signature:</b> @Model.ParentSignature</li>
        <li class="list-group-item"><b>Date Signed:</b> @Convert.ToDateTime(Model.ParentSignatureDate).ToString("MM/dd/yyyy")</li>

    </ul>
</div>

@*<p> @Model.</p>*@
@if (User.IsInRole("admin"))
{
    if (Model.Active)
    {
        <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("Index", "Students")'">Back To Students</button>
    }
    else
    {<button class="btn btn-outline-dark " onclick="location.href='@Url.Action("InactiveIndex", "Students")'">Back To Inactive Students</button>}
}
else
{
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("CoachesStudents", "Coaches")'">Back To Students</button>
}