@model Lead2Change.Domain.ViewModels.RegistrationViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>

<h3>Student Info</h3>
<p>First Name:  @Model.StudentFirstName</p>
<p>Last Name: @Model.StudentLastName</p>
<p>Date of Birth: @Convert.ToDateTime(Model.StudentDateOfBirth).ToString("MM/dd/yyyy")</p>
<p>Address: @Model.StudentAddress</p>
<p>Apartment Number: @Model.StudentApartmentNumber</p>
<p>City: @Model.StudentCity</p>
<p>State: @Model.StudentState</p>
<p>Zip Code: @Model.StudentZipCode</p>
<p>Home Phone: @Model.StudentHomePhone</p>
<p>Cell Phone: @Model.StudentCellPhone</p>
<p>Email: @Model.StudentEmail</p>
<p>Career Path: @Model.StudentCareerPath</p>
<p>Career Interest: @Model.StudentCareerInterest</p>

<h3>Parent Info</h3>
<p>First Name:  @Model.ParentFirstName</p>
<p>Last Name: @Model.ParentLastName</p>
<p>Address: @Model.Address</p>
<p>Parent Apartment Number: @Model.ParentApartmentNumber</p>
<p>City: @Model.ParentCity</p>
<p>Zip Code: @Model.ParentZipCode</p>
<p>Home Phone: @Model.ParentHomePhone</p>
<p>Cell Phone: @Model.ParentCellPhone</p>
<p>Email: @Model.ParentEmail</p>

<h3>Guidance Counselor Info</h3>
<p>Knows Guidance Counselor: @Model.KnowGuidanceCounselor</p>
<p>Guidance Counselor Name: @Model.GuidanceCounselorName</p>
<p>Meets with Guidance Counselor: @Model.MeetWithGuidanceCounselor</p>
<p>How Often they Meet with Guidance Counselor: @Model.HowOftenMeetWithGuidanceCounselor</p>
<p>What they have Discussed with their Guidance Counselor: @Model.DiscussWithGuidanceCounselor</p>

<h3>Post-Secondary Plan</h3>
<p>Which do you plan to do/attend after high school? @Model.PlanAfterHighSchool</p>
<p>Have they applied for college? @Model.CollegeApplicationStatus</p>
<p>Which colleges do they plan to apply/have applied to? @Model.CollegesList</p>
<p>Have they begun their college essay? @Model.CollegeEssayStatus</p>
<p>Do they need help with their college essay? @Model.CollegeEssayHelp</p>
<p>First choice college(s): @Model.FirstChoiceCollege</p>
<p>Second choice college(s) @Model.SecondChoiceCollege</p>
<p>Third choice college(s): @Model.ThirdChoiceCollege</p>
<p>Have they applied to a trade school? @Model.TradeSchoolStatus</p>
<p>Trade schools they have applied/plan to apply to @Model.TradeSchoolsList</p>
<p>Have they already applied to the armed forces? @Model.ArmedForcesStatus</p>
<p>Branches they have applied to/plan to apply to: @Model.ArmedForcesBranch</p>
<p>Do they plan to enter the workforce after high school? @Model.WorkStatus</p>
<p>Career paths they are interested in pursuing: @Model.CareerPathList</p>
<p>Plans for after high schooL: @Model.OtherPlans</p>
<h3>College Entrance Exam Information</h3>
<p>Date of PACT: @Convert.ToDateTime(Model.PACTTestDate).ToString("MM/dd/yyyy")</p>
<p>PACT Score: @Model.PACTTestScore</p>
<p>Date of PSAT: @Convert.ToDateTime(Model.PSATTestDate).ToString("MM/dd/yyyy")</p>
<p>PSAT Score: @Model.PSATTestScore</p>
<p>Date of SAT: @Model.@Convert.ToDateTime(Model.SATTestDate).ToString("MM/dd/yyyy")</p>
<p>SAT Score: @Model.SATTestScore</p>
<p>Date of ACT: @Convert.ToDateTime(Model.ACTTestDate).ToString("MM/dd/yyyy")</p>
<p>ACT Score: @Model.ACTTestScore</p>
<p>Do they need a prep class? @Model.PrepClassRequired</p>
<h3>Financial Aid Information</h3>
<p>Have they completed the financial aid process? @Model.FinancialAidProcessComplete</p>
<p>Do they need help with their FAFSA/Financial aid forms? @Model.AssistanceForForms</p>
<p>What kind of support do they require? @Model.SupportNeeded</p>
<h3>Signatures</h3>
<p>Student Signature: @Model.StudentSignature</p>
<p>Date Signed: @Convert.ToDateTime(Model.StudentSignatureDate).ToString("MM/dd/yyyy")</p>
<p>Parent Signature: @Model.ParentSignature</p>
<p>Date Signed: @Convert.ToDateTime(Model.ParentSignatureDate).ToString("MM/dd/yyyy")</p>

@*<p> @Model.</p>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
