@model Lead2Change.Domain.ViewModels.EditViewModel
@*
    ViewData["Title"] = "Edit";
*@
@{
}
<div class="container-fluid">
    <div align="center">
        <h1>Edit Page</h1>
        <hr />
        <button class="btn btn-back">@Html.ActionLink("Student Information", "StudentInformationEdit", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("Parent Information", "ParentInformationEdit", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("Guidance Counselor Information", "GuidanceCounselorInformation", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("Post Secondary Information", "PostSecondaryEdit", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("College Entrance Exam Information", "CollegeEntranceExamEdit", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("Financial Aid Information", "FinancialAidEdit", new { studentId = Model.Id })</button>
        <button class="btn btn-back">@Html.ActionLink("Signature Information", "SignatureEdit", new { studentId = Model.Id })</button>


        <form>
            <div class="form-group">
                <label asp-for="Active" class="control-label">Is this student active?</label>
                <input asp-for="Active" class="form-control" type="checkbox" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
        </form>
    </div>
        <div class="form-group hidden" display="none">
            <label asp-for="CoachId" class="control-label"></label>
            <input asp-for="CoachId" class="form-control" value=@Model.CoachId />
        </div>
        <div class="form-group hidden" display="none">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" value=@Model.Id />
        </div>
        <div class="form-group" align="center">
            <input type="submit" value="Submit" class="btn btn-submit" />
        </div>
    </div>

<div>
    <button class="btn btn-back"><a asp-action="Index">Back to Student List</a></button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
