@model List<Lead2Change.Domain.Models.Student>
@*
    ViewData["Title"] = "Index";
*@

<div class="container">
    <h1>Students</h1>

    <table class="table shadow-lg table-striped pt-2" id="myTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Email</th>
                <th scope="col">Parent Name</th>
                <th scope="col">Parent Email</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.StudentDateOfBirth.ToString("d"))*@
                        @*@Model.modelItem => item.StudentDateOfBirth.ToString("d")*@
                        @Convert.ToDateTime(item.StudentDateOfBirth).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentLastName), @Html.DisplayFor(modelItem => item.ParentFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentEmail)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Edit","Students", new { studentId= item.Id })'">Edit</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Students", new { studentId= item.Id })'">Details</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Index","Goals", new { studentId= item.Id })'">Student Goals</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Delete","Students", new { id= item.Id })'">Delete</button>
                                @if (item.CareerDeclarationId == Guid.Empty)
                                {
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Create","CareerDeclaration", new { studentId= item.Id })'">Add Career</button>
                                }
                                else
                                {
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","CareerDeclaration", new { studentId= item.Id })'">View Career</button>
                                }
                            </div>
                        </div>
                    </td>
                    </tr>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Details" onclick="location.href='@Url.Action("Details","Students", new { studentId = item.Id })'" />

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Interviews" onclick="location.href='@Url.Action("Index","Interviews", new { studentID = item.Id })'" />

                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Goals" onclick="location.href='@Url.Action("Index","Goals", new { studentID = item.Id })'" />

                </div>
            </div>



            @if (item.CareerDeclarationId == Guid.Empty)
            {
        <div class="row">
            <div class="col-sm-12">
                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Add Career" onclick="location.href='@Url.Action("Create","CareerDeclaration", new { studentId = item.Id })'" />

            </div>
        </div> }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="View Career" onclick="location.href='@Url.Action("Details","CareerDeclaration", new { studentId = item.Id })'" />

            </div>
        </div>}
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Delete" onclick="location.href='@Url.Action("Delete","Students", new { id = item.Id })'" />

                </div>
            </div>
        </div>
    </td>
</tr>
           }}
        </tbody>
    </table>


    <div class="row">
        <div class="col-sm-12 pb-sm-2">
            <input type="button" class="btn btn-primary" value="Add a New Student" onclick="location.href='@Url.Action("Register","Students")'" />
        </div>
    </div>
</div>