@model Lead2Change.Domain.ViewModels.CoachViewModel
@*
    ViewData["Title"] = "CoachesStudents";
*@
<div class="row orangeHeader full-width mb-sm-3">
    <div class="col-sm-12">
        <h1 class="text-center"><strong>YOUR STUDENTS</strong></h1>
    </div>
</div>
<h1>Accepted Students</h1>
<table class="table table-striped shadow-lg pt-2" id="myTable">
    <thead class="blueStyle">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Options</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Students)

        {


            @if (item.Accepted && item.Active == true) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCellPhone)
                    </td>
                    <td>                       
                        <div class="dropdown">
                            <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("UnassignStudent","Coaches", new { studentId= item.Id })'">Unassign Student</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Students", new { studentId= item.Id })'">Student Details</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Index","Goals", new { studentID= item.Id })'">Student Goals</button>
                                @if (item.CareerDeclarationId == Guid.Empty)
                                {
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Create","CareerDeclaration", new { studentId= item.Id })'">Add Student Career</button>
                                }
                                else
                                {
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","CareerDeclaration", new { studentId= item.Id })'">View Student Career</button>
                                }
                            </div>
                        </div>
                    </td>

                    </tr>
                }
            }
        </tbody>
</table>

<h1>Students Applying</h1>
<table class="table table-striped shadow-lg pt-2" id="myTable">
    <thead class="blueStyle">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Options</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Students)

        {


            @if (item.Accepted == false && item.Declined == false && item.Active == true)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCellPhone)
                    </td>
                    <td>
                        <button class="btn  btn-block orangeBtn mb-sm-2" type="button" onclick="location.href='@Url.Action("AcceptStudent","Students", new { studentID= item.Id })'">Eligible</button>
                        <button class="btn  btn-block orangeBtn  mb-sm-2" type="button" onclick="location.href='@Url.Action("DeclineStudent","Students", new { studentID= item.Id })'">Ineligible</button>
                        <div class="dropdown">
                            <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Options</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("UnassignStudent","Coaches", new { studentId= item.Id })'">Unassign Student</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Students", new { studentId= item.Id })'">Student Details</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Index", "Interviews", new { studentId = item.Id })'">Conduct an Interview</button>
                            </div>
                      
                            
                        </div>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
@if (User.IsInRole("admin"))
{ <div>
    <button class="btn btn-outline-dark btn-lg" type="button" onclick="location.href='@Url.Action("Index","Coaches")'">Back To List</button>
</div>
}