@model Lead2Change.Domain.ViewModels.CoachViewModel
@*
    ViewData["Title"] = "Details";
*@

<h1>Details</h1>

<p>First Name:  @Model.CoachFirstName</p>
<p>Last Name:  @Model.CoachLastName</p>
<p>Email:  @Model.CoachEmail</p>
<p>Phone Number:  @Model.CoachPhoneNumber</p>


<table class="table table-striped pt-2" id="myTable">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Students)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCellPhone)
                </td>
            
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>