@model List<Lead2Change.Domain.Models.Coach>
@*
    ViewData["Title"] = "Index";
*@
@{
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <h1>Active Coaches</h1>
    <div class="row">
        <div class="col-sm-3 searchbar ml-auto">
            <input type="text" id="myInput" onkeyup="searchFilter()" placeholder="Search for items.." class="tableInput searchbar__input" align="right">
            <button type="button" class="searchbar__button">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>

    <table class="table table-striped shadow-lg pt-2" id="myTable">
        <thead class="blueStyle">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)

            {
                @if (item.Active)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoachEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Edit","Coaches", new { id= item.Id })'">Edit</button>
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("AssignStudentIndex","Coaches", new { id= item.Id })'">Assign Student</button>
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Coaches", new { id= item.Id })'">Details</button>
                                    <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Delete","Coaches", new { id= item.Id })'">Delete</button>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <h1>Inactive Coaches</h1>

    <table class="table table-striped pt-2" id="myTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)

            {
                @if (item.Active == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoachEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                        </td>
                        <td>
                            <div>
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                </div>
                                <div>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </div>
                                <div>
                                    @Html.ActionLink("View Coach's Students", "CoachesStudents", new { id = item.Id })
                                </div>
                                <div>
                                    @Html.ActionLink("Activate Coach", "ActiveCoach", new { coachid = item.Id })
                                </div>
                                <div>
                                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <a asp-area="Identity" asp-page="/Account/RegisterCoach"><b>Register Coach</b></a>
    </div>
</div>