@model List<Lead2Change.Domain.Models.Coach>
@*
    ViewData["Title"] = "Index";
*@
@{
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
    .tableMin {
        min-height: 15vh;
    }
</style>

<div class="container">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>COACHES</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h1>Active Coaches</h1>
        </div>
        <div class="col-sm-3 searchbar ml-auto">
            <input type="text" id="myInput" onkeyup="searchFilter()" placeholder="Search for items.." class="tableInput searchbar__input" align="right">
            <button type="button" class="searchbar__button">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
    <div class="col-sm-12">       
        <table class="table table-striped table-hover table-responsive-sm fixedTable mt-sm-3 mb-0 shadow-lg">
            <thead class="blueStyle">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
        </table>
        <div class="tableScroll shadow-lg">
            <table class="table table-striped table-hover table-responsive-sm fixedTable mb-0 tableMin" id="myTable">
                <thead class="blueStyle d-none">
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        @if (item.Active)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoachEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Edit","Coaches", new { id= item.Id })'">Edit</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("AssignStudentIndex","Coaches", new { id= item.Id })'">Assign Student</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("CoachesStudents","Coaches", new { id= item.Id })'">View Coach's Students</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Coaches", new { id= item.Id })'">Details</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Delete","Coaches", new { id= item.Id })'">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-sm-9">
            <h1>Inactive Coaches</h1>
        </div>
        <div class="col-sm-3 searchbar ml-auto">
            <input type="text" id="myInput2" onkeyup="searchFilter2()" placeholder="Search for items.." class="tableInput searchbar__input" align="right">
            <button type="button" class="searchbar__button">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
    <div class="col-sm-12">
        <!--Start of the table containing added questions-->
        <table class="table table-striped table-hover table-responsive-sm fixedTable mt-sm-3 mb-0 shadow-lg">
            <thead class="blueStyle">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
        </table>
        <div class="tableScroll shadow-lg">
            <table class="table table-striped table-hover table-responsive-sm fixedTable mb-0 tableMin" id="myTable2">       
                <thead class="blueStyle d-none">
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        @if (item.Active == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoachEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Edit","Coaches", new { id= item.Id })'">Edit</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("CoachesStudents","Coaches", new { id= item.Id })'">View Coach's Students</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Coaches", new { id= item.Id })'">Details</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("ActiveCoach","Coaches", new { coachId= item.Id })'">Activate Coach</button>
                                            <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Delete","Coaches", new { id= item.Id })'">Delete</button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-area="Identity" asp-page="/Account/RegisterCoach"><b>Register Coach</b></a>
    </div>
</div>