@model List<Lead2Change.Domain.Models.Coach>
@*
    ViewData["Title"] = "Index";
*@
@{
}

<div class="container">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>COACHES</strong></h1>
        </div>
    </div>

    <table class="table table-striped shadow-lg pt-2" id="myTable">
        <thead class="blueStyle">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)

            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                    </td>
                    <td>
                        <div>
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </div>
                            <div>
                                @Html.ActionLink("Assign Student", "AssignStudentIndex", new { id = item.Id })
                            </div>
                            <div>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </div>
                            <div>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Create"><b>Add new coach.</b></a>
    </div>
</div>