@model List<Lead2Change.Domain.Models.Coach>
@*
    ViewData["Title"] = "Index";
*@
@{
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .searchbar {
        width: 100%;
        max-width: 300px;
        display: inline-flex;
    }

    .searchbar__input {
        flex-grow: 1;
        padding: 10px;
        outline: none;
        border: 1px solid #0071BB;
        border-radius: 5px 0 0 5px;
        background: #f4faf9;
        transition: background 0.25s, box-shadow 0.25s;
    }

    .searchbar__input:focus {
        background: white;
        box-shadow: 0 0 2px #004cbb;
    }

    .searchbar__input::placeholder {
        color: #004cbb;
    }

    .searchbar__button {
        width: 40px;
        background: #0071BB;
        color: #ffffff;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        user-select: none;
    }

    .searchbar__button:active {
        box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
    }
</style>
<div class="container">
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center"><strong>COACHES</strong></h1>
        </div>
    </div>
        <div class="col-sm-3 searchbar">
            <input type="text" id="myInput" onkeyup="searchFilter()" placeholder="Search for items.." class="tableInput searchbar__input" align="right">
            <button type="button" class="searchbar__button">
                <i class="material-icons">search</i>
            </button>
        </div>

    <table class="table table-striped shadow-lg pt-2" id="myTable">
        <thead class="blueStyle">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)

            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.CoachLastName), @Html.DisplayFor(modelItem => item.CoachFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachPhoneNumber)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn  btn-block orangeBtn mb-sm-2 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Edit","Coaches", new { id= item.Id })'">Edit</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("AssignStudentIndex","Coaches", new { id= item.Id })'">Assign Student</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Details","Coaches", new { id= item.Id })'">Details</button>
                                <button class="dropdown-item" type="button" onclick="location.href='@Url.Action("Delete","Coaches", new { id= item.Id })'">Delete</button>

                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Create"><b>Add new coach.</b></a>
    </div>
</div>