@model Lead2Change.Domain.ViewModels.CareerDeclarationViewModel
@*
    ViewData["Title"] = "Details";
*@
<div class="row blueHeader full-width mb-sm-3">
    <div class="col-sm-12">
        <h1 class="text-center"><strong>CAREER DETAILS</strong></h1>
    </div>
</div>
<style>
    tr:nth-child(1) {
        background: #2656A5;
        color: white;
    }
</style>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Info Type</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-none">
            <td><b>StudentId:</b> </td>
            <td>@Model.StudentId</td>
        </tr>
        <tr>
            <td><b>Going to attend college:</b> </td>
            <td>@Model.CollegeBound</td>
        </tr>
        <tr>
            <td><b>Specific career cluster:</b> </td>
            <td>@Model.CareerCluster</td>
        </tr>
        <tr>
            <td><b>Specific career:</b> </td>
            <td>@Model.SpecificCareer</td>
        </tr>
        <tr>
            <td><b>Going to attend technical college:</b></td>
            <td>@Model.TechnicalCollegeBound</td>
        </tr>
    </tbody>
</table>
<div class="row col-sm-6">
    <input type="button" class="btn btn-primary" value="Edit Career" onclick="location.href='@Url.Action("Edit", "CareerDeclaration", new { id = Model.Id })'" />
</div>
<div align="center">
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("Index","Students")'">Back To List</button>
</div>