@model Lead2Change.Domain.ViewModels.CareerDeclarationViewModel
@*
    ViewData["Title"] = "Details";
*@
<div class="row">
    <h1>Details</h1>
</div>
<div class="row">
    <p class="col-sm-6">Going to attend college:  @Model.CollegeBound</p>
</div>
<div class="row">
    <p class="col-sm-6">Specific career cluster:  @Model.CareerCluster</p>
</div>
<div class="row">
    <p class="col-sm-6">Specific career:  @Model.SpecificCareer</p>
</div>
<div class="row">
    <p class="col-sm-6">Going to attend technical college:  @Model.TechnicalCollegeBound</p>
</div>
<div class="row">
    @Html.ActionLink("Edit Career", "Edit", "CareerDeclaration", new { id = Model.Id })
</div>
<div>
    <a asp-action="Index" asp-controller="Students">Back to List</a>
</div>