@using Lead2Change.Web.Ui.Extensions
@model Lead2Change.Domain.ViewModels.CareerDeclarationViewModel;
@*
    ViewData["Title"] = "Edit";
*@
<div class="row blueHeader full-width mb-sm-3">
    <div class="col-sm-12">
        <h1 class="text-center"><strong>EDIT CAREER</strong></h1>
    </div>
</div>
<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group hidden" display="none">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" value=@Model.Id />
    </div>
    <div class="form-group hidden">
        <label asp-for="StudentId" class="control-label"></label>
        <input asp-for="StudentId" class="form-control" value=@Model.StudentId />
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="CareerCluster" class="control-label col-sm-3">Career Cluster</label>
        @Html.DropDownListFor(m => m.CareerCluster, Model.CareerCluster.ToSelectList(), null, new { @class = "form-control  col-sm-9" })
        <span asp-validation-for="CareerCluster" class="text-danger"> </span>
    </div>
    <div class="form-group row">
        <label asp-for="SpecificCareer" class="control-label col-sm-3">Specific Career</label>
        <input asp-for="SpecificCareer" class="form-control col-sm-9" value=@Model.SpecificCareer>
        <span asp-validation-for="SpecificCareer" class="text-danger"> </span>
    </div>
    <div class="form-group row">
        <label asp-for="CollegeBound" class="control-label col-sm-3">Student is College Bound</label>
        <input asp-for="CollegeBound" class="form-control col-sm-1" />
        <span asp-validation-for="CollegeBound" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="TechnicalCollegeBound" class="control-label col-sm-3">Student is Technical College Bound</label>
        <input asp-for="TechnicalCollegeBound" class="form-control col-sm-1"/>
        <span asp-validation-for="TechnicalCollegeBound" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-submit" />
    </div>
    <div>
        @Html.ActionLink("Back to Career Details", "Details", "CareerDeclaration", new { studentId = Model.StudentId })
    </div>
</form>
@if (Model.isStudentActive)
{
<div align="center">
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("Details","CareerDeclaration", new { studentId = Model.StudentId })'">Back To Career Details</button>
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("Index","Students",  new { id = Model.Id })'">Back To Student List</button>
</div>
}
else
{
<div align="center">
    <button class="btn btn-outline-dark " onclick="location.href='@Url.Action("InactiveIndex","Students")'">Back To Inactive Students</button>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}