@model List<Lead2Change.Domain.Models.CareerDeclaration>
@*
    ViewData["Title"] = "Index";
*@
<h1>Index</h1>
<div>
    <table>
        <tr>
            <th>
                CollegeBound
            </th>
            <th>
                CareerCluster
            </th>
            <th>
                SpecificCareer
            </th>
            <th>
                TechnicalCollegeBound
            </th>
        </tr>
    </table>
</div>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeBound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CareerCluster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecificCareer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicalCollegeBound)
        </td>
        <td>
            <div>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </div>
            </div>
            <div>
                @Html.ActionLink("Details", "Details", new { studentId = item.StudentId })
            </div>
            <div>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </td>
    </tr>
    }
</table>
<div>
    <a asp-action="Create">Add Career Declaration</a>
</div>