@model Lead2Change.Domain.ViewModels.GoalViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>StudentId: @Model.StudentId</p>
<p>Goal: @Model.GoalSet</p>
<p>Goal Set Date: @Model.DateGoalSet</p>
<p>SEL: @Model.SEL</p>
<p>Goal Review Date: @Model.GoalReviewDate</p>
<p>Accomplishment State: @Model.WasItAccomplished</p>
<p>Explanation: @Model.Explanation</p>

<div>
    <a asp-action="Index" asp-route-studentID=@Model.StudentId>Back to List</a>
</div>