@model Lead2Change.Domain.ViewModels.GoalViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1 align="center">Details</h1>
<style>
    tr:nth-child(1) {
        background: #004cbb;
        color: white;
    }   
</style>
<table class="table table-striped table-hover  shadow-lg">
    <thead>
        <tr>
            <th scope="col">Info Type</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-none">
            <td><b>StudentId:</b> </td>
            <td>@Model.StudentId</td>
        </tr>
        <tr>
            <td><b>Goal:</b> </td>
            <td>@Model.GoalSet</td>
        </tr>
        <tr>
            <td><b>Goal Set Date:</b> </td>
            <td>@Model.DateGoalSet.ToShortDateString()</td>
        </tr>
        <tr>
            <td><b>SEL:</b> </td>
            <td>@Model.SELDisplay</td>
        </tr>
        <tr>
            <td><b>Goal Review Date: </b></td>
            <td>@Model.GoalReviewDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td><b>Accomplishment State: </b></td>
            <td>@Model.WasItAccomplished</td>
        </tr>
        <tr>
            <td><b>Explanation: </b></td>
            <td>@Model.Explanation</td>
        </tr>
    </tbody>
</table>
<div>
    <input type="button" class="btn btn-primary" value="Back to Goals" onclick="location.href='@Url.Action("Index", "Goals", new { studentId = @Model.StudentId })'" />
</div>