@model Lead2Change.Domain.ViewModels.GoalsAndIDViewModel
@*
    ViewData["Title"] = "Index";
*@
<div class="container-fluid">
    @*@Lead2Change.Web.Ui.Controllers.StudentsController.GetStudent(@Model.StudentID).StudentFirstName*@
    <div class="row blueHeader full-width mb-sm-3">
        <div class="col-sm-12">
            <h1 class="text-center" style="text-transform: uppercase"><strong>@Model.Name's Goals</strong></h1>
        </div>
    </div>
    <table class="table table-striped shadow-lg pt-2">
        <thead class="thead blueStyle">
            <tr>
                <th>
                    Goal
                </th>
                <th>
                    Date Set
                </th>
                <th>
                    Accomplishment State
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.GoalModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateGoalSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WasItAccomplished)
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Edit" onclick="location.href = '@Url.Action("Edit","Goals", new { id = item.Id, studentID = item.StudentId })'; this.disabled = true;" />

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-12">
                            <input type="button" class="btn orangeBtn btn-block mb-sm-2" value="Details" onclick="location.href='@Url.Action("Details","Goals", new { id = item.Id, studentID = item.StudentId })'; this.disabled = true;" />

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn btn-block orangeBtn" value="Delete" onclick="location.href = '@Url.Action("Delete","Goals", new { id = item.Id, studentID = item.StudentId })'; this.disabled = true; this.value = 'Deleting…';" />

                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-sm-12 pb-sm-2">
            <input type="button" class="btn btn-primary" value="Create a Goal" onclick="location.href='@Url.Action("Create","Goals", new {studentID = Model.StudentID })'; this.disabled = true;" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Back To Students", "Index", "Students")

        </div>
    </div>
</div>