@model List<Lead2Change.Domain.ViewModels.GoalViewModel>
@*
    ViewData["Title"] = "Index";
*@
<div class="container-fluid">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Goal
                </th>
                <th>
                    Date Set
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateGoalSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WasItAccomplished)
                </td>
                <td>
                    <div>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                    <div>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </td>
            </tr>
        }
        
    </table>

    <div>
        <a asp-action="Create">Add a goal</a>
    </div>
</div>